header {
	background-color: black;
	height: 5em;
}

#nav-bar{
	display: inline-block;
	float: right;
	margin-right: 5em;
	height: 5em;
}

#top-name {
	margin-left: 3em;
	display: inline-block;
	height: 5em;
	font-size: 30px;
	padding-top: 20px;

}

.nav-link{
	text-decoration: none;
	color: white;
}

.nav-link:hover{
	text-decoration: none;
	color: white;
}

#blog-nav{
	display: inline-block;
	height: 100%;
	text-align: center;
	background-color: #FF6F95;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	margin: 0px;
	font-size: 30px;
	margin-right: -2px;


}

#about-nav{
	display: inline-block;
	height: 100%;
	text-align: center;
	background-color: #A45AE8;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	margin: 0px;
	font-size: 30px;
	margin-right: -2px;
	margin-left: -2px;

}

#projects-nav{
	display: inline-block;
	height: 100%;
	text-align: center;
	background-color: #6FA1FF;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	margin: 0px;
	font-size: 30px;
	margin-right: -2px;
	margin-left: -2px;

}

#game-nav{
	display: inline-block;
	height: 100%;
	text-align: center;
	background-color: #5AE8CA;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	margin: 0px;
	font-size: 30px;
	margin-left: -2px;

}

/*green: #8FFF7B*/