header {
	background-color: black;
	height: 5em;
	position: relative;
}

#nav-bar{
	display: inline-block;
	position: absolute;
	right: 0;
	margin-right: 8%;
	height: 5em;
}

#top-name {
	margin-left: 8%;
	display: inline-block;
	height: 5em;
	font-size: 30px;
	padding-top: 20px;
}

#top-name a{
	color: white;
}

.nav-link{
	text-decoration: none;
	color: white;
}

.nav-link:hover{
	text-decoration: none;
	color: white;
}

#home-link{
	text-decoration: none;
	color: white;
}

#home-link:hover{
	text-decoration: none;
	color: white;
}

#blog-nav{
	display: inline-block;
	height: 100%;
	text-align: center;
	background-color: #FF6F95;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	margin: 0px;
	font-size: 30px;
	margin-right: -2px;


}

#about-nav{
	display: inline-block;
	height: 100%;
	text-align: center;
	background-color: #A45AE8;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	margin: 0px;
	font-size: 30px;
	margin-right: -2px;
	margin-left: -2px;

}

#projects-nav{
	display: inline-block;
	height: 100%;
	text-align: center;
	background-color: #6FA1FF;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	margin: 0px;
	font-size: 30px;
	margin-right: -2px;
	margin-left: -2px;

}

#game-nav{
	display: inline-block;
	height: 100%;
	text-align: center;
	background-color: #5AE8CA;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	margin: 0px;
	font-size: 30px;
	margin-left: -2px;

}

#index-container{
	padding: 20px;
	background-color: white;
	height: 100vh;
}

#blog-container{
	padding: 20px;
	background-color: #FF6F95;
	height: 100vh;
	display:none;
}

#about-container{
	padding: 20px;
	background-color: #A45AE8;
	height: 100vh;
	display:none;
	color: white;
}

#projects-container{
	padding: 20px;
	background-color: #6FA1FF;
	height: 100vh;
	display:none;
}

#game-container{
	padding: 20px;
	background-color: #5AE8CA;
	height: 100vh;
	display:none;
}

#face-img{
	float: left;
	margin: 10px;
	margin-top: 0px;
	margin-left: 0px;
}

#resume{
	clear:both;
}

.main-container{
	width: 75%;
	margin: 0 auto;
	text-align: center;
}

.main-text{
	text-align: left;
	padding: 5px;
}

footer{
	padding: 10px;
	background-color: black;
	color: white;
}

#social-media{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}
