*{
	background-color:#393850;
	/*color:#F5F2EF;*/
}

#top_name{
margin-left:30%;
font-size:40px;
font-family:"Arial Black", sans-serif;
color:#5A5879;
}

#top_name a{
	text-decoration:none;
	color:#5A5879;
}

#nav_bar {
	width:105%;
	position:relative;
    list-style-type: none;
    margin-left:-10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav_item {
    
 display:inline-block;
 margin: 15px 0px 15px 0px;
 position:relative;
 left:15%;
 font-size:16px;
font-family:"Arial Black", sans-serif;

}

li a {

    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
}

header nav {
	margin-bottom:5em;
}

li a:hover {
    background-color: #257BD6;
    /*color:#28273A;*/
}

section img{
	float:left;
	margin-top:10px;
	position: relative;
	left:10%;
}
div p a{
	text-decoration:none;
	color:white;
}
.main_text{
width:40%;
float:left;
position:relative;
left:10%;
padding: 20px;
font-size:12px;
font-family:"Century Gothic", sans-serif;
color:white;
text-align:left;
}
#resume{
	clear:both;
	float:left;
	margin-top:5px;
	position: relative;
	left:10%;
}
#resume a{
	text-decoration:none;
	color:white;
	font-family:"Century Gothic", sans-serif;
}
.social_media{
	clear:both;
	position:relative;
	left:45%;
}